<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ '/assets/js/bottom-btn.js' | relative_url }}"></script>
</head>

<body>
    <header class="page-header" role="banner">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline"><a href="/">{{ page.description | default: site.description | default: site.github.project_tagline }}</a></h2>  
    </header>

    <main id="content" class="main-content" role="main">

        <nav id="table-of-contents" role="navigation">
            <p>目录</p>
            {% include toc.html html=content sanitize=true h_min=2 h_max=3 %}
        </nav>

        {{ content }}

    </main>
</body>

</html>
