<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ '/assets/js/bottom-btn.js' | relative_url }}"></script>
</head>

<body>
    <header class="page-header" role="banner">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline"><a href="/">{{ page.description | default: site.description | default: site.github.project_tagline }}</a></h2>  
    </header>

    <main id="content" class="main-content" role="main">

        <nav id="table-of-contents" role="navigation">
            <p>目录</p>
            {% include toc.html html=content sanitize=true h_min=2 h_max=3 %}
        </nav>

        {{ content }}

        <footer class="site-footer">
            <div>
                <a href="/abouts/me.html">关于我</a><span class="site-footer-credits">&nbsp;&nbsp;·&nbsp;</span>
                <a href="/abouts/site.html">关于本站</a><span class="site-footer-credits">&nbsp;&nbsp;·&nbsp;</span>
                <a href="/abouts/disclaimer.html">免责声明</a><span class="site-footer-credits">&nbsp;&nbsp;·&nbsp;</span>
                <a target="_blank" href="https://github.com/hiwzc">我的GitHub</a><span class="site-footer-credits"></span>
            </div>
            <div>
                <a target="_blank" href="http://beian.miit.gov.cn/">粤ICP备17127050号-1</a><span class="site-footer-credits">&nbsp;&nbsp;·&nbsp;</span>
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030602000643">粤公网安备44030602000643号</a>
            </div>
            <span class="site-footer-credits">
                Powered by <a target="_blank" href="https://pages.github.com">GitHub Pages</a>, use theme <a target="_blank" href="https://github.com/pages-themes/cayman">Cayman</a>.
            </span>
        </footer>

        <div class="bottom-btn">
            <a class="icon-item icon-go-index" href="javascript:void(0)" title="回主页"></a>
            <a class="icon-item icon-go-top" href="javascript:void(0)" title="回顶部"></a>
            <a class="icon-item icon-go-bottom" href="javascript:void(0)" title="回底部"></a>
        </div>
    </main>
</body>

</html>
